.drinks {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.drinks h2 {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  font-size: 1.7rem;
  color: var(--text-color-black);
}

.card-drinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-drink {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  max-width: 250px;
  border-radius: 8px;
  margin: 5px;
  position: relative;
}

.card-drink .drink-info {
  background-color: var(--color-secondary-bg);
  box-sizing: border-box;
  width: 100%;
  opacity: 1;
}

.card-drink .drink-info p {
  color: var(--text-color-with);
  font-weight: 700;
  font-size: 1.2rem;
  padding: 4px 8px;
}
.card-drink .drink-info p.alcoholic {
  width: 100%;
  display: inline-block;
  margin-top: -1px;
  font-weight: 400;
  font-size: 1rem;
  background: var(--card-color-bg-alcoholic);
  color: var(--text-color-black);
}

.card-drink .drink-info p.no-alcoholic {
  width: 100%;
  display: inline-block;
  margin-top: -1px;
  font-weight: 400;
  font-size: 1rem;
  background: var(--card-color-bg-no-alcoholic);
  color: var(--text-color-black);
}

.card-drink .drink-img {
  width: 100%;
}

.list-pages {
  width: 100%;
  margin-bottom: 10px;
  display: inline-block;
  text-align: center;
  overflow-x: auto;
}

.list-pages button {
  font-size: 1.2rem;
  border: none;
  padding: 8px 10px;
  border-radius: 4px;
  color: var(--text-color-black);
  transition: background-color .3s;
}

.list-pages button:hover {
  font-size: 1.3rem;
  background-color: #ddd;
  color: var(--text-color-black-secondary);
}

.list-pages button.page-active {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--color-secondary-bg);
}

@media (max-width: 768px) {
  .card-drink .drink-info p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  .card-drink .drink-info {
    background-color: rgba(255, 255, 255, 0.541);
    color: var(--text-color-black);
    display: block;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.6s;
  }

  .card-drink:hover .drink-info {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.541);
  }

  .card-drink .drink-info p {
    color: var(--text-color-black);
  }
}
