header,
footer {
  background-color: var(--color-secondary-bg);
  width: 100%;
}

.container-header,
.container-footer {
  padding: 8px;
  display: flex;
  align-items: center;
}

.container-header {
  justify-content: space-between;
}

.container-header img {
  width: 150px;
}

.container-header nav button {
  background: none;
  border: none;
  display: none;
}

.container-header nav button img {
  width: 30px;
}

.container-header ul {
  display: flex;
}

.container-header ul li {
  margin: 2px;
}

.container-header .menu-option {
  color: var(--color-primary-bt);
  padding: 4px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  transition: color 1s;
}
.container-header .menu-option:hover {
  color: var(--color-secondary-bt);
}

footer {
  margin-top: auto;
  padding: 10px;
  color: var(--color-primary-bg);
}

.container-footer {
  justify-content: center;
}

footer span {
  color: var(--color-primary-bt);
  font-weight: 700;
}

@media (max-width: 425px) {
  .container-header nav button {
    display: block;
  }

  .container-header .menu-option {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
  }
  .container-header ul {
    position: fixed;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    right: 0;
    top: 60px;
    background: var(--color-secondary-bg);
  }

  .not-activit {
    display: none !important;
    width: 10%;
    height: 5%;
    opacity: 0;
  }

  .activit {
    display: flex;
    z-index: 1;
    width: 100%;
    height: 100%;
    transition: 0.7s;
    animation: activeMenu 0.7s;
    opacity: 1;
  }

  @keyframes activeMenu {
    0% {
      width: 0;
      height: 0;
      opacity: 0;
    }
    100% {
      width: 100%;
      height: 85%;
      opacity: 1;
    }
  }
}
