.header-main {
  width: 100%;
  height: 60vh;
  background-image: url("../images/drinks-brind.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contain-search {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(8px);
}

.contain-search h1 {
  color: var(--color-primary-bg);
  text-shadow: 1px 1px 10px #000;
  font-size: 2rem;
  margin-bottom: 10px;
}

.contain-search .input-search {
  display: flex;
  align-items: center;
  background-color: var(--color-primary-bg);
  width: 90%;
  max-width: 350px;
  border-radius: 8px;
}

.contain-search .input-search input {
  background: none;
  width: 95%;
  font-size: 1.2rem;
  padding: 8px;
  outline: none;
  border: none;
}

.contain-search .input-search button {
  box-sizing: border-box;
  width: 39px;
  height: 39px;
  padding: 4px;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  background-color: var(--color-primary-bt);
  background-image: url("../images/icons8-search.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
}

.drinks {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.drinks h2 {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  font-size: 1.7rem;
  color: var(--text-color-black);
}

.card-drinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-drink {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  max-width: 250px;
  border-radius: 8px;
  margin: 5px;
  position: relative;
}

.card-drink .drink-info {
  background-color: var(--color-secondary-bg);
  box-sizing: border-box;
  width: 100%;
  padding: 4px;
  opacity: 1;
}

.card-drink .drink-info p {
  color: var(--text-color-with);
  font-weight: 700;
  font-size: 1.2rem;
}
.card-drink .drink-info p.alcoholic {
  display: inline-block;
  margin-top: 8px;
  padding: 4px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 1rem;
  background: var(--card-color-bg-alcoholic);
  color: var(--text-color-black);
}

.card-drink .drink-info p.no-alcoholic {
  display: inline-block;
  margin-top: 8px;
  padding: 4px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 1rem;
  background: var(--card-color-bg-no-alcoholic);
  color: var(--text-color-black);
}

.card-drink .drink-img {
  width: 100%;
}

@media (max-width: 768px) {
  .card-drink .drink-info p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  .card-drink .drink-info {
    background-color: rgba(255, 255, 255, 0.541);
    color: var(--text-color-black);
    display: block;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.6s;
  }

  .card-drink:hover .drink-info {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.541);
  }

  .card-drink .drink-info p {
    color: var(--text-color-black);
  }
}
